<section>
    <nav class="navbar navbar-inverse navbar-static-top">
        <div class="container">
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li role="presentation" ng-class="{active:isSelected('/file-form')}">
                        <a href="#/file-formr" ng-click="selectPanel('/file-form')">Upload file</a>
                    </li>
                    <li role="presentation" ng-class="{active:isSelected('/table')}">
                        <a href="#/table" ng-click="selectPanel('/table')">Show products</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</section>